@use 'colors';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
  }
  
  /* Button */
  
button {
    border-radius: 40px;
    font-weight: 600px;
    border: none;
    box-shadow: 0 0 10px -1px colors.$color-button-opacity;
    cursor: pointer;
    transition: all 300ms;
    font-family: 'Poppins', sans-serif;
}
.nav__button:hover{
  color: colors.$color-very-dark-cyan-opacity;
}

.fa-color { 
  transition: all 300ms; 
  cursor:pointer; 
}
.fa-color:hover{
  color:colors.$color-pink;
}
.button--hover:hover{
  background: colors.$color-pink-opacity;
}
a {
  text-decoration: none;
  color:colors.$color-white;
}