/* Project Colors */
.cards {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 30px;
  margin-top: 60px;
}

.card {
  box-shadow: 0 0 10px -1px rgba(0, 37, 46, 0.1);
  width: 310px;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
}

.card__title {
  font-size: 20px;
}

.card__paragraph {
  font-size: 15px;
  color: #808d99;
}

.card__image {
  margin: 2rem;
  width: 80%;
}

.floating-card {
  background-color: #ffff;
  transform: translate(0, 100px);
  z-index: 50;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 500px;
}

footer {
  background-color: #00252e;
  padding: 120px 20px 0;
}

.footer__logo {
  width: 10rem;
  filter: invert(0.4) sepia(9) hue-rotate(500deg) saturate(1000%) grayscale(1000) contrast(1000);
  margin-bottom: 2rem;
}

.fa-color {
  font-size: 2rem;
  color: #ffff;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.information {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: white;
  align-items: start;
  row-gap: 30px;
}
.information p {
  margin: 0px;
}
.information .information__logo-ubication {
  grid-row: 1;
  grid-column: 1;
}
.information .information__text-ubication {
  grid-row: 1;
  grid-column: 2/8;
}
.information .information__logo-phone {
  grid-row: 2;
  grid-column: 1;
}
.information .information__text-photo {
  grid-row: 2;
  grid-column: 2/8;
}
.information .information__logo-email {
  grid-row: 3;
  grid-column: 1;
}
.information .information__text-email {
  grid-row: 3;
  grid-column: 2/8;
}

.navigation {
  color: white;
}
.navigation ul {
  margin: 0px;
  display: flex;
  flex-flow: column wrap;
  padding: 0px;
  gap: 30px;
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.social {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}
.social .social__media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social .social__media .social__logo {
  width: 2rem;
  color: white;
}
.social h3 {
  color: white;
  font-size: 10px;
  text-align: center;
  font-weight: 300;
}

.header {
  background-image: url("./images/bg-hero-mobile.svg");
  background-color: #ebfbff;
}

/*nav*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav__logo {
  width: 8rem;
}

.nav__button {
  font-size: 12px;
  color: #00252e;
  background-color: white;
  padding: 15px 60px;
  font-weight: bold;
}

/* Presentation */
.presentation {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 20px;
}

.presentation__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 500px;
}
.presentation__body h1,
.presentation__body p {
  color: #00252e;
  text-align: center;
}

.presentation__button {
  width: 250px;
  background-color: #ff52bf;
  color: white;
  padding: 15px 30px;
  font-weight: bold;
}

.presentation__image {
  margin-top: 50px;
  width: 80%;
}

.center__text {
  text-align: center;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 18px;
  margin: 0px;
}

/* Button */
button {
  border-radius: 30px;
  font-weight: 600px;
  border: none;
  box-shadow: 0 0 10px -1px rgba(0, 37, 46, 0.1);
}

/* Modules scss */
/* General */
/* Header */
/* Cards */
/* Footer */
/* Mediaqueries */
@media only screen and (min-width: 800px) {
  .center__text {
    text-align: left;
  }

  .card {
    width: 80% !important;
    display: flex;
    justify-content: space-between;
  }

  .floating-card {
    width: 60% !important;
  }

  .card--1,
.card--3 {
    align-items: center;
    flex-direction: row-reverse;
  }

  .card--2 {
    align-items: center;
  }

  .card__image {
    width: 30%;
  }

  .card__presentation-1,
.card__presentation-3 {
    margin-left: 7rem;
    width: 40%;
  }

  .card__presentation-2 {
    margin-right: 7rem;
    width: 40%;
  }

  .header {
    padding: 20px 50px;
    margin-bottom: 8.5rem;
  }

  .presentation__title {
    font-weight: 800;
  }

  .presentation {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .presentation .presentation__body {
    align-items: start;
  }
  .presentation .presentation__body h1,
.presentation .presentation__body p {
    text-align: left;
  }

  .presentation__image {
    width: 60%;
  }

  .footer .information, .footer .navigation, .footer .social {
    width: 30%;
  }
  .footer .navigation ul li:nth-child(3) {
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
