/* Modules scss */
@use 'colors';
@use 'cards';
@use 'footer';
@use 'header';
@use 'general';


/* General */
/* Header */
/* Cards */
/* Footer */
/* Mediaqueries */

@media only screen and (min-width: 800px) {
    .center__text {
      text-align: left;
    }
    .card {
      width: 80% !important;
      display: flex;
      justify-content: space-between;
    }
    .floating-card {
      width: 60% !important;
    }
    .card--1,
    .card--3 {
  
      align-items: center;
      flex-direction: row-reverse;
    }
  
    .card--2 {
      align-items: center;
    }
    .card__image {
      width: 30%;
    }
    .card__presentation-1,
    .card__presentation-3 {
      margin-left: 7rem;
      width: 40%;
    }
    .card__presentation-2 {
      margin-right: 7rem;
      width: 40%;
    }
  
    .header {
      padding: 20px 50px;
      margin-bottom: 8.5rem;
    }
  .presentation__title{
      font-weight: 800;
  }
    .presentation {
      flex-flow: row wrap;
      justify-content: space-between;
  
      .presentation__body {
        align-items: start;
  
        h1,
        p {
          text-align: left;
        }
      }
    }
  
    .presentation__image {
      width: 60%;
    }
  
    .footer {
  
        .information, .navigation, .social {
            width: 30%;
        }
  
        .navigation ul li:nth-child(3){
            display: inline-block;
        }
    }
  }
  